@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "../../node_modules/bootstrap/scss/mixins";

html {
  scroll-behavior: smooth;
}

.full-height {
  height: 100vh;
  padding-top: 80px;
}

